<section>
    <div class="container fluid bg-dark text-white center rounded" style="padding-top: 30px; width:300px; height:300px; margin-top:100px;">
        <label for="">Nome da Familia:</label>
        <input type="text" class="form-control" id="familia">
    
        <br>
        <label for="">Tag do Discord:</label>
        <input type="text" class="form-control" id="discord">

        <br>
        <button class="btn btn-primary" onclick="Dados.aplica();">Aplicar-se</button>
    </div>

</section>