<br>
<section>
<div class="container center bg-dark text-white rounded" style="padding-top: 30px; width:300px; height:300px; margin-top:100px;" >
    
    <h4>Login Admin</h4>
    
    <label for="">Usuario:</label><br>
    <input type="text" id="user" name="pswd"><br>
    <label for="">Senha:</label><br>
    <input type="password" id="pswd" name="pswd"><br> <br>
    <button class="btn btn-primary" onclick="Dados.entrar()">Entrar</button>
</div>
</section>
