<section>
    <div class="container fluid bg-dark rounded text-white center" style="margin-top: 50px; padding: 30px;">
        <h3>Membros da Guilda</h3>

        <div id="MembrosList">

        </div>
    </div>
</section>