<section>
    <div class="container fluid bg-dark text-white center"
        style="margin-top: 50px; padding-bottom: 20px; padding-top: 20px;">
        <h3>Sobre nòs</h3>
        <div class="row">
            <div class="col-4">
                <img src="assets/img/sobre.jpg" alt="" style="width: 520px; height: 400px;">
            </div>
    
            <div class="col-8" style="padding-left: 150px;">
                <br>
                <br>
                <h5>Somos uma guilda nova com foco casual.</h5>
                <h5>Fazemos PVP Casual, LifeSkill</h5>
                <h5>Recrutamos todos *Sem Preconceitos*</h5>
                <h5>Vell as Quintas e Domingos</h5>
                <h5>Ajuda com Permuta/LifeSkill/PVPVE</h5>
                <h5>Discord Opcional</h5>
                <h5><a href="discord.gg/un4MdeaUV"> <img src="assets/img/icons8-logo-discord-48.png" alt="">
                        discord.gg/un4MdeaUV </a></h5>
            </div>
        </div>
    </div>
</section>